h2 {
    text-align: center;
    color: #000000;
    font-size: 42px;
}

.topNav__link_cta_yellow {
    color: #ffac00;
    border: 2px solid;
}

.topNav__link_cta_yellow:hover{
    background: #ffac00;
    color: #fff;
}

.topNav__item.parent.parent__point:before {
    content:"\2022";
    font-size: 26px;
    font-weight: 700;
    line-height: 18px;
    position: absolute;
    top: 8px;
    left: 0;
    color: #ffac00;
}

.topNav_v2 .topNav_2levelList a{
    color: #ffac00;
    text-decoration: none;
    font-size: 16px;
}

.topNav__link_yellow:hover:after{
    background: #ffac00;
}

.topNav_v2 .topNav_2levelList_yellow a{
    color: #ffac00;
    text-decoration: none;
    font-size: 16px;
}

.topNav_2levelList_yellow a:hover{
    color: #ffac00;
    text-decoration: underline;
}

.hamburger__line_yellow {
    background: #ffac00;
}

.ineerPageTop, .function, .client {
    padding: 75px 0 120px 0;
    background: url(../images/dots-pattern.jpg) left bottom repeat-x;
}

.erp-solution-section__head__inline {
    display: block;
    text-align: center;
}


.erp-solution-section__ico_big {
    display: block;
    width: auto;
    text-align: center;
}

.erp-solution-section__title_inline {
    display: block;
}

.erp-solution-section__head__inline p {
    font-weight: bold;
}

.erp-solution-section__images {
    width: 100%;
}

.erp-solution-section__images__item {
    width: 32%;
    display: inline-block;
    text-align: center;
}

.erp-solution-section__images__item span {
    width: 116px;
    height: 44px;
    color: #ffad00;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: oblique;
}

.container::after{
    content:'';
    display:block;
    clear:both;
}

.why {
    padding: 0px 0 120px 0;
    background: url(../images/blueDotsBtm.png) left bottom repeat-x;
}

.why__title {
    text-align: center;
    color: #000000;
    font-size: 42px;
}

.why_half {
    text-align: center;
}

.why_half__content {
    width: 49%;
    display: inline-block;
    text-align: center;
    padding: 45px 0;
}

.why_half__icon{
    height: 60px;
    width: 18%;
    display: inline-block;
    vertical-align: middle;
}

.why_half__text {
    display: inline-block;
    height: 100%;
    width: 75%;
    text-align: left;
    vertical-align: middle;
}

.why hr {
    background-color: #e8e8e8;
    border: none;
    height: 1px;
}

.why_half__solutions {
    margin-top: 140px;
}

.why_half__imageBig {
    display: inline-block;
    position: relative;
    margin-right: 50px;
}

.why_half__imageBig__wrapper {
    width: fit-content;
}

.why_half__label {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
}

.why_half__list {
    display: inline-block;
    width: 49%;
    text-align: left;
    margin-top: -80px;
}

.why_half__list span {
    font-weight: bold;
}

.why_half__listLabel {
    display: inline-block;
    width: 10%;
    padding: 20px 0;
}

.why_half__listContent {
    display: inline-block;
    width: 88%;
    padding: 15px 0;
}

.owl-carousel .owl-theme .owl-loaded .owl-drag {
    position: relative;
}

.owl-stage-outer {
    padding-bottom: 50px;
}

.owl-theme .owl-nav {
    color: transparent;
    font-size: 14px;
    margin: 0 auto;
    padding: 4px 7px;
    border-radius: 3px;
    width: 30%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

.owl-next:hover {
    background: rgba(0, 0, 0, 0) url(../images/prev.png) no-repeat scroll 0 0;
}

.owl-prev {
    background: rgba(0, 0, 0, 0) url(../images/prev.png) no-repeat scroll 0 0;
    height: 30px;
    width: 20px;
    float: left;
}

.owl-next {
    background: rgba(0, 0, 0, 0) url(../images/next.png) no-repeat scroll 0 0;
    height: 30px;
    width: 20px;
    float: right;
}

.owl-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #0e82e2;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-next:hover {
    background: rgba(0, 0, 0, 0) url(../images/next.png) no-repeat scroll 0 0 !important;
}

.owl-prev:hover {
    background: rgba(0, 0, 0, 0) url(../images/prev.png) no-repeat scroll 0 0 !important;
}


.function__wrapper {
    width: 100%;
    letter-spacing: 0;
    font-size: 0;
}

.function__item {
    width: 32.4%;
    display: inline-block;
    background-color: #ffac00;
    margin: 70px 0.2% 0;
    text-align: center;
}

.function__item:hover {
    background: #A66F00;
}

.function__item p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 35px 0;
}

.client__ads {
    opacity: 0.5;
    color: #000000;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

.client__content {
    width: 100%;
}

.client__content__item {
    display: inline-block;
    width: 32.5%;
    text-align: center;
    padding-top: 60px;
}

.client__content__item img {
    height: 80px;
    margin-bottom: 40px;
}

.innerTryNow__rates h2 {
    text-align: center;
    color: #000000;
    font-size: 42px;
    padding: 50px;
}

.innerTryNow__rates__item {
    width: 100%;
}

.innerTryNow__rates__item__current {
    width: 32%;
    display: inline-block;
    text-align: center;
    position: relative;
    transition: all 0.4s ease 0s;
    height: 370px;
    margin-bottom: 70px;
}

.innerTryNow__rates__item__current img {
    height: 90px;
    margin: 20px auto;
}

.innerTryNow__rates__item__link {
    border: 2px solid #0e82e2;
    width: fit-content;
    /*margin: 30px auto;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75%;
}

.innerTryNow__rates__item__current a {
    text-decoration: none;
    font-weight: bold;
    padding: 15px 40px;
    box-sizing: border-box;
    display: inline-block;
    color: #000000;
    vertical-align: bottom;
}

.innerTryNow__rates__item__current a:hover {
    background: #0e82e2;
    color: #FFFFFF;
}

.innerTryNow__rates__item__current:hover {
    /*TODO: check this color*/
    background: #f3f3f3;
}